@import "~bulma";
//Card Colors
$bg-color: #1b3861;
$gold: #ecba1d;
//Cheese and Pieces
$cheese: #efe115;
$bg-cheese: #b7af17;
$blue: #72aae7;
$pink: #dd82ae;
$green: #56b945;
$brown: #a67a2f;
$yellow: #e5e112;
$orange: #e7942e;
//General rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #34495e;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  h1 {
    margin-bottom: 15px;
  }
}

.App-link {
  color: #09d3ac;
}

.header-key {
  padding: 0;
  text-align: left;
}
.header-key-item {
  display: -webkit-inline-flex;
  line-height: 1rem;

  &:before{
    content:'';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 15px;
  }
  &.blue {
    &:before {
      background: $blue;
    }
  }
  &.pink {
    &:before {
      background: $pink;
    }
  }
  &.green {
    &:before {
      background: $green;
    }
  }
  &.brown {
    &:before {
      background: $brown;
    }
  }
  &.yellow {
    &:before {
      background: $yellow;
    }
  }
  &.orange {
    &:before {
      background: $orange;
    }
  }
}
.cheese-container {
  padding: 1em 0 2em;
  color: yellow;
}
.player-panel-container {
  margin: 0.5em;

}
.player-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #1b3861;
  color: #ecba1d;
  font-family: 'Great Vibes', cursive;
  border: 0.15em solid #ecba1d;
}
.cheese {
  transform: rotate(1440deg);
  width: 5.5em;
  height: 5.5em;
  background: $bg-cheese;
  border-radius: 50%;
  position: relative;
  border: 0.25em solid $cheese;
  &:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    background: linear-gradient(transparent 48.5%, $cheese 48.5%, $cheese 51.5%, transparent 51.5%), linear-gradient(60deg, transparent 48.5%, $cheese 48.5%, $cheese 51.5%, transparent 51.5%), linear-gradient(120deg, transparent 48.5%, $cheese 48.5%, $cheese 51.5%, transparent 51.5%);
    width: 5em;
    height: 5em;
    top: 0;
    left: 0;
  }
  &:after {
    position: absolute;
    border-radius: 50%;
    content: "";
    width: 0.75em;
    height: 0.75em;
    top: 2.125em;
    left: 2.125em;
    background: $cheese;
  }
}

.piece {
  position: absolute;
  width: 0;
  height: 0;
  top: 0.1em;
  left: 1.3em;
  border-radius: 45%;
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  transform-origin: 1.2em 2.4em;
  &.blue {
    border-top: 2em solid $blue;
  }
  &.yellow {
    border-top: 2em solid $yellow;
    transform: rotate(60deg);
  }
  &.brown {
    border-top: 2em solid $brown;
    transform: rotate(120deg);
  }
  &.orange {
    border-top: 2em solid $orange;
    transform: rotate(180deg);
  }
  &.green {
    border-top: 2em solid $green;
    transform: rotate(240deg);
  }
  &.pink {
    border-top: 2em solid $pink;
    transform: rotate(300deg);
  }
}

.players-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.category-buttons {
  padding: 15px 0;
  
  li {
    display: inline-block;
    width: 30%;
    height: 40px;
    margin: 0 2px;
    border: 2px solid white;
    border-radius: 2px;
    &.blue {
      background: $blue;
    }
    &.pink {
      background: $pink;
    }
    &.green {
      background: $green;
    }
    &.brown {
      background: $brown;
    }
    &.yellow {
      background: $yellow;
    }
    &.orange {
      background: $orange;
    }
  }
}